<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and click on **Get Free API Key**.
2.  Subscribe for Free plan and Sign-in with the Google Account.
3.  Once the account is created you will be redirected to [https://apilayer.com](https://apilayer.com/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) website.
4.  Now, click on the **user icon** and click **Account** as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/account.png"/>

3.  Scroll down and you will get the API Key section. Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=b1DoKSFji2FDeXGyKKEubq1zCgLnFE1F" #Make sure to change ******* to your API key.

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1659512524,
 'base': 'EUR',
 'date': '2022-08-03',
 'rates': {'AED': 3.740109,
  'AFN': 91.959684,
  'ALL': 116.889238,
  'AMD': 416.488593,
  'ANG': 1.847514,
  'AOA': 439.944657,
  'ARS': 134.554743,
  'AUD': 1.468604,
  'AWG': 1.832873,
  'AZN': 1.730013,
  'BAM': 1.960456,
  'BBD': 2.069845,
  'BDT': 97.102007,
  'BGN': 1.958811,
  'BHD': 0.383929,
  'BIF': 2112.65695,
  'BMD': 1.018263,
  'BND': 1.414379,
  'BOB': 7.037304,
  'BRL': 5.375914,
  'BSD': 1.025149,
  'BTC': 4.4227149e-05,
  'BTN': 80.606896,
  'BWP': 12.846188,
  'BYN': 2.587982,
  'BYR': 19957.945757,
  'BZD': 2.066336,
  'CAD': 1.31003,
  'CDF': 2037.543438,
  'CHF': 0.974594,
  'CLF': 0.033574,
  'CLP': 926.404969,
  'CNY': 6.876533,
  'COP': 4386.125155,
  'CRC': 685.076587,
  'CUC': 1.018263,
  'CUP': 26.983957,
  'CVE': 110.524692,
  'CZK': 24.644197,
  'DJF': 182.495967,
  'DKK': 7.443428,
  'DOP': 55.853429,
  'DZD': 148.21797,
  'EGP': 19.370765,
  'ERN': 15.273938,
  'ETB': 53.954092,
  'EUR': 1,
  'FJD': 2.236054,
  'FKP': 0.85772,
  'GBP': 0.834833,
  'GEL': 2.774756,
  'GGP': 0.85772,
  'GHS': 8.789967,
  'GIP': 0.85772,
  'GMD': 55.648234,
  'GNF': 8865.779559,
  'GTQ': 7.92903,
  'GYD': 214.592104,
  'HKD': 7.993254,
  'HNL': 25.223256,
  'HRK': 7.514576,
  'HTG': 120.451749,
  'HUF': 396.552186,
  'IDR': 15173.639219,
  'ILS': 3.428811,
  'IMP': 0.85772,
  'INR': 80.374923,
  'IQD': 1496.149475,
  'IRR': 43072.505249,
  'ISK': 139.287827,
  'JEP': 0.85772,
  'JMD': 156.843686,
  'JOD': 0.722765,
  'JPY': 135.529215,
  'KES': 121.275384,
  'KGS': 84.657373,
  'KHR': 4203.04069,
  'KMF': 491.296518,
  'KPW': 916.436276,
  'KRW': 1335.914625,
  'KWD': 0.31227,
  'KYD': 0.854232,
  'KZT': 486.156611,
  'LAK': 15462.286177,
  'LBP': 1550.002819,
  'LKR': 374.179407,
  'LRD': 156.812387,
  'LSL': 17.024758,
  'LTL': 3.006665,
  'LVL': 0.615937,
  'LYD': 4.983906,
  'MAD': 10.582469,
  'MDL': 19.789782,
  'MGA': 4313.213884,
  'MKD': 61.761329,
  'MMK': 1898.016994,
  'MNT': 3202.089467,
  'MOP': 8.288319,
  'MRO': 363.519551,
  'MUR': 46.482213,
  'MVR': 15.752927,
  'MWK': 1052.915321,
  'MXN': 21.090794,
  'MYR': 4.538384,
  'MZN': 64.995482,
  'NAD': 17.025713,
  'NGN': 424.004263,
  'NIO': 36.806928,
  'NOK': 9.91664,
  'NPR': 128.976112,
  'NZD': 1.626084,
  'OMR': 0.392023,
  'PAB': 1.025018,
  'PEN': 3.982355,
  'PGK': 3.612129,
  'PHP': 56.74115,
  'PKR': 244.030768,
  'PLN': 4.709774,
  'PYG': 7024.581099,
  'QAR': 3.707517,
  'RON': 4.926332,
  'RSD': 117.363428,
  'RUB': 61.32489,
  'RWF': 1053.195992,
  'SAR': 3.829175,
  'SBD': 8.363588,
  'SCR': 13.250481,
  'SDG': 577.354705,
  'SEK': 10.409668,
  'SGD': 1.405676,
  'SHP': 1.402551,
  'SLL': 14108.027708,
  'SOS': 593.64689,
  'SRD': 24.989688,
  'STD': 21075.978686,
  'SVC': 8.969339,
  'SYP': 2558.414599,
  'SZL': 17.00372,
  'THB': 36.902255,
  'TJS': 10.471203,
  'TMT': 3.574102,
  'TND': 3.183596,
  'TOP': 2.384566,
  'TRY': 18.282013,
  'TTD': 6.955949,
  'TWD': 30.560398,
  'TZS': 2374.588683,
  'UAH': 37.859343,
  'UGX': 3976.303787,
  'USD': 1.018263,
  'UYU': 41.977632,
  'UZS': 11235.425262,
  'VND': 23798.832053,
  'VUV': 121.067368,
  'WST': 2.770662,
  'XAF': 657.527775,
  'XAG': 0.051166,
  'XAU': 0.000576,
  'XCD': 2.751905,
  'XDR': 0.773849,
  'XOF': 657.527775,
  'XPF': 119.644585,
  'YER': 254.820066,
  'ZAR': 17.021327,
  'ZMK': 9165.59148,
  'ZMW': 16.376322,
  'ZWL': 327.880122}}

In [5]:
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date        rates
AED     True  1659512524  EUR  2022-08-03     3.740109
AFN     True  1659512524  EUR  2022-08-03    91.959684
ALL     True  1659512524  EUR  2022-08-03   116.889238
AMD     True  1659512524  EUR  2022-08-03   416.488593
ANG     True  1659512524  EUR  2022-08-03     1.847514
..       ...         ...  ...         ...          ...
YER     True  1659512524  EUR  2022-08-03   254.820066
ZAR     True  1659512524  EUR  2022-08-03    17.021327
ZMK     True  1659512524  EUR  2022-08-03  9165.591480
ZMW     True  1659512524  EUR  2022-08-03    16.376322
ZWL     True  1659512524  EUR  2022-08-03   327.880122

[167 rows x 5 columns]

In [6]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

           rates
AED     3.740109
AFN    91.959684
ALL   116.889238
AMD   416.488593
ANG     1.847514
..           ...
YER   254.820066
ZAR    17.021327
ZMK  9165.591480
ZMW    16.376322
ZWL   327.880122

[167 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [7]:
# Save the Dataframe
dataframe.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                              |
| ----------------- | ------- | ----------------- | ----------------------------------------------- |
| 2022-05-06        | 0.3     | Malika            | Updated instructions to get the API and the url |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR                 |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab              |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).